
blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}
pre.ql-syntax {
  background-color: #694cb7;
  padding:15px;
  color: #f8f8f2;
  overflow: visible;
  margin-right: 20px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
.ql-indent-1 {
  padding-left: 3rem;
}
.ql-indent-2 {
  padding-left: 6rem;
}
.ql-indent-3 {
  padding-left: 9rem;
}
.ql-indent-4 {
  padding-left: 12rem;
}
.ql-indent-5 {
  padding-left: 15rem;
}
.ql-indent-6 {
  padding-left: 18rem;
}
.ql-indent-7 {
  padding-left: 21rem;
}
.ql-indent-8 {
  padding-left: 24rem;
}
.ql-direction-rtl {
  direction: rtl;
}
.ql-size-small {
  font-size: .75rem;
}
.ql-size-large {
  font-size: 1.5rem;
}
.ql-size-huge {
  font-size: 2.5em;
}
h3 {
  font-size: 1.17rem !important;
}
.ql-font-serif {
  font-family: Georgia,Times New Roman,serif;
}
.ql-font-monospace {
  font-family: Monaco,Courier New,monospace;
}
.ql-align-center {
  text-align: center;
}
.ql-align-left {
  text-align: left;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}
